# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/

# Build
/dist/
/build/

# Misc
.DS_Store
.env

# Editor temp files
~*
*~
*.swp

# Coverage directory
coverage

# IntelliJ IDEA
/.idea/

# nyc test coverage tool output
.nyc_output/
